
div.container {
    width: 100%;
    border: 1px solid gray;
}

header {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}
footer {
    padding: 1em;
    color: white;
    background-color: rgb(85, 5, 5);
    clear: left;
    text-align: center;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
#content { 
    overflow:auto; 
    width:100%; 
    background: #dddddd; 
  } 
  
  #left{ 
    width: 15%; 
    margin:5px; 
    padding: 1em; 
    background: white; 
  } 
  #right { 
    width: 78%; 
    margin:5px; 
    padding: 1em; 
    background: white; 
  } 
  
  #left  { float:left;  }
  #right { float:right; } 